:root {
    --van-sidebar-active-color: #6de6b5;
    --van-sidebar-selected-border-color: #6de6b5;
    --van-sidebar-selected-border-height: 90%;
    --van-sidebar-background-color: #ffffff;
    --van-sidebar-selected-background-color: #f8f8f8
}